*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --blue: #110169;
    --yellow: #F4C214;
    --red: #C70404;
    --grey: #E2E2E2;
}
/* colors */
#blue {
 background: var(--blue);
}
#yellow {
    background: var(--yellow);
   }
#red {
    background: var(--red);
   }
#grey {
    background: var(--grey);
}
#black {
    background: #000;
}

body {
    text-align: center;
}
   /* grid */
.parent {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 6px solid black;
    width: 39.1em;
    height: 28.8em;
    margin: auto;
    margin-top: 5em;

    
}
/* sert a donner une taille au colone et ligne */
#parametre {
    grid-template-columns: 30px 80px 40px 30px 70px 30px 60px 40px 70px 60px 40px 35px 30px; 
    grid-template-rows: 30px 50px 150px 50px 100px 30px 40px;
}

.parent > div {
    border: 3px solid black;
}
/* affichage des numeros */
div p {
    display: none;
}
.div1 { 
    grid-area: 1 / 1 / 3 / 2;
    
}
.div2 { 
    grid-area: 7 / 1 / 8 / 4; 
}
.div3 { grid-area: 5 / 1 / 7 / 2; 
}
.div4 { grid-area: 3 / 1 / 5 / 2; 
}
.div5 { grid-area: 3 / 2 / 5 / 3; 
}
.div6 { grid-area: 5 / 2 / 7 / 3; 
}
.div7 { grid-area: 3 / 3 / 7 / 4; 
}
.div8 { grid-area: 5 / 4 / 8 / 5; 
}
.div9 { grid-area: 4 / 4 / 5 / 5; 
}
.div10 { grid-area: 3 / 4 / 4 / 6;
}
.div11 { grid-area: 3 / 6 / 4 / 7;
}
.div12 { grid-area: 4 / 5 / 5 / 7;
}
.div13 { grid-area: 2 / 2 / 3 / 7;
}
.div14 { grid-area: 1 / 2 / 2 / 7;
}
.div15 { grid-area: 6 / 5 / 8 / 7;
}
.div16 { grid-area: 5 / 5 / 6 / 8;
}
.div17 { grid-area: 4 / 7 / 5 / 9;
}
.div18 { grid-area: 3 / 7 / 4 / 9;
}
.div19 { grid-area: 2 / 7 / 3 / 9;
}
.div20 {
    grid-area: 1 / 13 / 4 / 14; 
}
.div21 {
    grid-area: 1 / 12 / 4 / 13; 
}
.div22 {
    grid-area: 4 / 12 / 5 / 14; 
}
.div23 {
    grid-area: 6 / 10 / 8 / 14; 
}
.div24 {
    grid-area: 6 / 7 / 8 / 10;
}
.div25 {
    grid-area: 1 / 7 / 2 / 12; 
}
.div26 {
    grid-area: 2 / 9 / 3 / 12; 
}
.div27 {
    grid-area: 3 / 11 / 4 / 12; 
}
.div28 {
    grid-area: 3 / 9 / 4 / 11; 
}
.div29 {
    grid-area: 4 / 11 / 5 / 12; 
}
.div30 {
    grid-area: 4 / 9 / 5 / 11; 
}
.div31 {
    grid-area: 5 / 12 / 6 / 14; 
}
.div32 {
    grid-area: 5 / 11 / 6 / 12; 
}
.div33 {
    grid-area: 5 / 10 / 6 / 11; 
}
.div34 {
    grid-area: 5 / 8 / 6 / 10; 
}